@charset "UTF-8";

body {
    background-color: #ECF0F1;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 2.5em;
    color:  #2980B9;
}


/* estilo da barra menu */
nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #2980B9;
    box-shadow: 3px 0 0 #F39C12;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

nav.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    margin-left: 2px;
    color: #ffff;
    padding: 15px;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
}

.btn-expandir>i {
    font-size: 32px;
    cursor: pointer;
}

/* estilização da lista */
ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: width .2s ease-in-out;
}

ul li.ativo>a>span.icon {
    color: #ffff;
}

ul li.item-menu:hover {
    background-color: #F39C12;
}

ul li.item-menu a {
    display: flex;
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
}

ul li.item-menu a .txt-link {
    font-size: 12pt;
    color: white;
    margin-left: 70px;
}

ul li.item-menu a .icon>i {
    font-size: 25px;
    display: block;
    margin: 0px 60%;
    opacity: 1;
}

.lista {
    background-color: white;
    font-size: 20px;
    text-align: justify;
    margin: 40px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* footer */
.site {
    background-color: #ECF0F1;
    letter-spacing: 1px;
    height: 140px;
    text-align: center;
    padding-top: 20px;
    color: #2980B9;
    margin-top: 10px;
}

.pe {
    color: #2980B9;
    margin-bottom: 10px;
}

footer span {
    color: rgb(204, 119, 7);
}

.linha {
    margin: 20px 70px 20px 70px;
}

.linha hr {
    border: 0;
    border-top: 2px solid #F39C12;
    margin: 20px 70px 20px 70px;
}

/* Responsividade */
@media (max-width: 768px) {
    .lista {
        margin: 20px;
        font-size: 18px;
    }

    header {
        font-size: 2em;
    }

    footer .site {
        padding-top: 10px;
    }
}