@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ECF0F1;  
    color: #34495E; 
    line-height: 1.6;
}


/* estilo da barra menu */
nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #2980B9;
    box-shadow: 3px 0 0 #F39C12;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

nav.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    margin-left: 2px;
    color: #ffff;
    padding: 15px;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
}

.btn-expandir>i {
    font-size: 32px;
    cursor: pointer;
}

/* estilização da lista */
ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: width .2s ease-in-out;
}

ul li.ativo>a>span.icon {
    color: #ffff;
}

ul li.item-menu:hover {
    background-color: #F39C12;
}

ul li.item-menu a {
    display: flex;
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
}

ul li.item-menu a .txt-link {
    font-size: 12pt;
    color: white;
    margin-left: 70px;
}

ul li.item-menu a .icon>i {
    font-size: 25px;
    display: block;
    margin: 0px 60%;
    opacity: 1;
}

/* Container das seções */
.main {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 150px; 
    flex-wrap: wrap;
}

/* Títulos */
h1 {
    color: #2C3E50;
    font-size: 24px;
    margin: 10px
}

/* Seções */
section {
    background-color: #fff; 
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section a {
    color: #2C3E50;
    text-decoration: none;
}

section:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagens */
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

/* footer */
.site {
    background-color: #ECF0F1;
    letter-spacing: 1px;
    height: 130px;
    text-align: center;
    padding-top: 20px;
}

.pe {
    color: #2980B9;
}

footer span {
    color: #F39C12;
}

.linha {
    margin: 20px 70px 20px 70px;
}

.linha hr {
    border: 0;
    border-top: 2px solid #F39C12;
    margin: 20px 70px 20px 70px;
}
