<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_pag_atividades.css">
    <title>Atividades</title>
</head>

<body>

    <header>
        <h2>ATIVIDADES</h2>
    </header>
    <!-- cards com atividades sobre o conteúdo do site -->
    <main>

        <div class="card_atividades">
            <section class="atividade">
                <a href="../atividades/atividade 1.pdf">
                    <img src="../imagens/img.atv1.jpg" alt="Lista de agentes">

                    <p class="texto"><strong>ATIVIDADE 1</strong></p>

                </a>
            </section>

            <section class="atividade">
                <a href="../atividades/atividade 2.pdf">
                    <img src="../imagens/img.atv2.jpg" alt="Lista de agentes">

                    <p class="texto"><strong>ATIVIDADE 2</strong></p>

                </a>
            </section>

            <section class="atividade">
                <a href="../atividades/atividade 3.pdf">
                    <img src="../imagens/img.atv3.jpg" alt="Lista de agentes">

                    <p class="texto"><strong>ATIVIDADE 3</strong></p>

                </a>
            </section>
            <br>
            <section class="atividade">
                <a href="../atividades/atividade 4.pdf">
                    <img src="../imagens/img.atv4.jpg" alt="Lista de agentes">

                    <p class="texto"><strong>ATIVIDADE 4</strong></p>

                </a>
            </section>

            <section class="atividade">
                <a href="../atividades/atividade 5.pdf">
                    <img src="../imagens/img.atv5.jpg" alt="Lista de agentes">

                    <p class="texto"><strong>ATIVIDADE 5</strong></p>

                </a>
            </section>

        </div>
        </div>
    </main>

    <footer>
        <div class="site">
            <div class="pe"> <br>
                <h2><strong>Edu<span>Connect</span></strong></h2>
            </div>

            <div class="linha">
                <hr>
            </div>
            <p>&copy; 2025 EduConnect. Todos os direitos reservados. </p>
        </div>

    </footer>

</body>

</html>