<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/pag_conectivos.css">
    <title>Document</title>
</head>

<body>

    <header>
        <h2>Conectivos</h2>
    </header>

    <!-- barra do menu, com outros conteúdos. -->
    <!-- <nav class="menu-lateral">
        <div class="btn-expandir">
            <i class="bi bi-list tamanho-btn" id="btn-exp"></i>
        </div>

        <ul>
            <li class="item-menu ativo">
                <a href="index.html">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>



            <li class="item-menu">
                <a href="../templates/pag_card.html">
                    <span class="icon"><i class="bi bi-gear"></i></span>
                    <span class="txt-link">Recursos</span>
                </a>
            </li>



            <li class="item-menu">
                <a href="../pdfs/Manual de ajuda.pdf">
                    <span class="icon"><i class="bi bi-person-circle"></i></span>
                    <span class="txt-link">Manual do Usuário</span>
                </a>
            </li>



            <li class="item-menu">
                <a href="../templates/pag_estruturas.html">
                    <span class="icon"><i class="bi bi-file-text-fill"></i></span>
                    <span class="txt-link">Estruturas</span>
                </a>
            </li>

            <li class="item-menu">
                <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSeRv96-aY1lOkXFPP6Lw64ulf0wW58cNbWgpdqfITvbiEXppg/viewform">
                    <span class="icon"><i class="bi bi-send"></i></span>
                    <span class="txt-link">Envie sua Redação</span>
                </a>
            </li>
        </ul>
    </nav>

    <script src="../js/menu.js"></script>
 -->

    <main>

        </div>
        <div class="lista">
            <p><strong> Adição: </strong> Além disso, ademais;</p>

            <p><strong>Conclusão:</strong> portanto, logo, assim, desse modo, dessa forma, destarte, concluindo, diante
                disso,
                em síntese, mediante o exposto.</p>

            <p><strong>Explicação:</strong> pois, visto que, uma vez que, posto que. </p>
            <p><strong>Consequência:</strong> por consequência, por conseguinte, como resultado, em virtude de, com
                efeito.</p>

            <p><strong>Ênfase:</strong> de certo, por certo, certamente, indubitavelmente, inquestionavelmente,
                inegavelmente.</p>

            <p><strong>Semelhança:</strong> igualmente, da mesma forma, assim também, do mesmo modo, similarmente,
                semelhantemente, analogamente, por analogia, de maneira idêntica, de conformidade com, de
                acordo com, sob o mesmo ponto de vista, tal qual, tanto, quanto, como, assim como, como se, bem
                como.</p>

            <p><strong>Exemplo:</strong> por exemplo, para ilustrar, para exemplificar, como.</p>

            <p><strong>Finalidade:</strong> com o fim de, a fim de, com o propósito de, com a finalidade de, com o
                intuito de,
                para que, a fim de que, para, como o objetivo de.</p>

            <p><strong>Oposição:</strong> pelo contrário, em contraste com, salvo, exceto, menos, mas, contudo, todavia,
                entretanto, no entanto, porém.</p>

            <p><strong>Ressalva:</strong> embora, apesar de, ainda que, mesmo que, posto que, posto, conquanto, se bem
                que,
                por mais que, por menos que, ao passo que.</p>

            <p><strong>Conformidade:</strong> conforme ,segundo, consoante , como ,de acordo com.</p>

            <p><strong>Início do desenvolvimento 1:</strong> desse modo, nesse sentido, dessa maneira, nessa
                perspectiva,
                nesse contexto.</p>

            <p>Ex : Nesse contexto, é necessário pontuar, a princípio...</p>

            <p><strong>Início do desenvolvimento 2:</strong> ademais, outrossim.</p>

            <p><strong>Início da conclusão:</strong> portanto, em suma, logo. </p>
        </div>
    </main>

    <footer>
        <div class="site">
            <div class="pe"> <br>
                <h2><strong>Edu<span>Connect</span></strong></h2>
            </div>

            <div class="linha">
                <hr>
            </div>
            <p>&copy; 2025 EduConnect. Todos os direitos reservados. </p>
        </div>

    </footer>
</body>

</html>